@tailwind base;
@tailwind components;
@tailwind utilities;

header .web-menu-link {
    @apply px-2 relative;
    @apply transition-colors duration-200;
}
header .web-menu-link:hover {
    @apply text-primary;
}
header .web-menu-link::after {
    content: "";
    @apply h-0.5 w-full absolute left-0 -bottom-5 bg-primary pointer-events-none;
    @apply transform scale-x-0 origin-bottom-left;
    @apply transition-transform duration-200 ease-in-out;
}
header .web-menu-link:hover::after {
    @apply transform scale-x-100;
}
header .social-media-link {
    @apply text-4xl text-primary mx-1;
    @apply transition-colors duration-200;
}
header .social-media-link:hover {
    @apply text-black;
}
header .mobile-menu a {
    @apply block p-4 hover:bg-primary hover:text-white;
}

footer .social-media-link {
    @apply text-5xl text-white mx-1 cursor-pointer;
}

.tabs ul li[aria-selected="true"] {
    @apply text-primary border-b-2 border-primary font-semibold;
}
.tabs p[aria-selected="true"] {
    @apply block;
}

.gallery-container {
    @apply w-full xs:w-[calc(50%-4px)] md:w-[calc(100%/3-4px)] cursor-pointer relative;
}
.gallery-container::after {
    content: "";
    mask: url("/magnifying-glass-solid.svg") no-repeat center;
    -webkit-mask: url("/magnifying-glass-solid.svg") no-repeat center;
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply bg-white w-10 h-10 md:w-14 md:h-14 opacity-0;
    @apply transition-opacity duration-200 ease-in;
}
.gallery-container:hover::after {
    @apply opacity-100;
}
.gallery-container:hover img {
    @apply brightness-45;
}

.hiring ul li {
    @apply pl-4;
}
.hiring ul li::before {
    content: "\2022";
    @apply text-primary text-xl font-bold inline-block w-4 -ml-4;
}